.Navbar-navbar {
    position: sticky;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: space-between;

    button {
        font-size: 2rem;
        background-color: green;
    }

    button a {
        color: white;
    }
}